
#body {
  background-color: #ddf5ff;
}

#top_bar {
  background-color: #0079ad;
  height: 60px;

}
#logo {
   display: inline-block;

}

#links {
   display: inline-block;
   float: right;
}

#developers {
   display: inline-block;
   background-color: red;
   height: 31px;
   width: 143px;
}

#chat_button {
   display: inline-block;
   background-color: orange;
   height: 31px;
   width: 197px;
}

#middle_images{
  height: 500px;
  width: 1000px;
  margin: 0px auto;
}
#middle_images #Copy{
  display:inline-block;
  height: 400px;
  margin: 0px auto;
}

#middle_images #Paste{
  display:inline-block;
  height: 400px;
  margin: 0px auto;
}

#middle_images #video_chat{
  display:inline-block;
  height: 400px;
  margin: 0px auto;
}

#middle_images #arrow{
    display: inline;
    position: relative;
    bottom: 70px;
    margin: 0px auto;
}

#middle_images img{
  height: 185px;
  border-radius: 100%;
  background-color: #0079ad;
  display: inline;

}

.steps div{
  display: inline-block;
  background-color: red;
  height: 50px;
  width:50px;
}

#arrow img{
  border-radius: 0%;
  display: inline-block;
  height: 50px;
}

#last_button{
  width: 500px;
  margin: 0px auto;
}
#last_button button{
  background-color: #4dbf41;
  height: 46px;
  width: 402px;
  color: white;
}

h3 {
  color: #0082b7;
}

.center_text {
  color: #6e8d99;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  padding: 0 0 8px;
}

#copy_button {
  text-decoration: underline;
  border : 0px;
  color: #6e8d99;
}
