
#body {
  background-color: #ddf5ff;
}

#top_bar {
  background-color: #0079ad;
  height: 60px;

}
#logo {
   display: inline-block;

}

#links {
   display: inline-block;
   float: right;
}

#developers {
   display: inline-block;
   background-color: red;
   height: 31px;
   width: 143px;
}

#chat_button {
   display: inline-block;
   background-color: orange;
   height: 31px;
   width: 197px;
}

#middle_images{
  background-color: yellow;
}
#middle_images #Copy{
  background-color: red;
  display:inline-block;
}

#middle_images #Paste{
  background-color: red;
  display:inline-block;
}

#middle_images #video_chat{
  background-color: red;
  display:inline-block;
}

#middle_images #arrow{
    background-color: red;
    display: inline;
    position: relative;
    bottom: 70px;
}

#middle_images img{
  height: 185px;
  border-radius: 100%;
  background-color: #0079ad;
  display: inline;

}

.steps div{
  display: inline-block;
  background-color: red;
  height: 50px;
  width:50px;
}

#arrow img{
  border-radius: 0%;
  display: inline-block;
  height: 50px;
}
